<body class="pace-done sidebar-xs">
	<div class="sidebar sidebar-secondary sidebar-default">
		<div class="sidebar-content">
			<div class="sidebar-category">
				<div class="category-title">
					<span>Setting Panel</span>
					<ul class="icons-list">
						<li><a href="#" data-action="collapse"></a></li>
					</ul>
				</div>

				<div class="category-content">
					<div class="row">
						<div class="col-xs-6">
							<a href="list_track">
								<button class="btn bg-teal-400 btn-block btn-float btn-float-lg" type="button">
								<i class="glyphicon glyphicon-road"></i>
								<span>Track</span>
							</button>
							</a><br/>
							<a href="list_cases">
								<button class="btn bg-purple-300 btn-block btn-float btn-float-lg" type="button">
									<i class=" icon-books"></i> <span>Case</span>
								</button>
							</a><br/>
							<a href="list_milestone">
								<button class="btn bg-success-600 btn-block btn-float btn-float-lg" type="button">
									<i class="icon-meter-slow"></i> <span>Milestone</span>
								</button>
							</a>
						</div>
						<div class="col-xs-6">
							<a href="list_priority">
								<button class="btn bg-warning-400 btn-block btn-float btn-float-lg" type="button">
									<i class="icon-warning22"></i> <span>Priority</span>
								</button>
							</a><br/>
							<a href="list_status">
								<button class="btn bg-blue btn-block btn-float btn-float-lg" type="button">
									<i class="icon-pulse2"></i> <span>Status</span>
								</button>
							</a><br/>
							<a href="list_category">
								<button class="btn bg-orange btn-block btn-float btn-float-lg" type="button">
									<i class="icon-pulse2"></i> <span>Category</span>
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>