<html>
<head>
</head>
<body>
	<div class="row">
		<div class="col-lg-3 col-md-3">
			<%= image_tag("/karan.JPG" , class: "listpic") %>
		</div>

		<div class="col-lg-9 col-md-9">
			<span class="text-bold">Karan Vyas</span>
			<div class="details">
				<a>Complitech Solution PVT LTD</a>
				<p class="text-muted">Developer</p>
			</div>
		</div>
	</div><br/>
	<div class="row">
		<div class="heading-element">
			<ul>
				<li>Total assigned task : 5</li>
			</ul>
		</div>
	</div>
</body>
</html>