<div class="form-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			Track Task
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>Name</th>
						<th>Category</th>
						<th>Date</th>
					</thead>
					<tbody>
						<tr>
							<td>Meeting with HR</td>
							<td>Meeting</td>
							<td>15/03/2016</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>