<%= content_for :header do %>
  Settings - All settings
<% end %>
<%= content_for :Listheader do %>
	<li><a href="#">Settings</a></li>
    <li class="active">All settings</li>
<% end %>

<div class="panel panel-flat">

	<div class="panel-body">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<%= render 'all_setting' %>
			</div>
			<div class="col-lg-9 col-md-9">
				<div class="panel-heading">
					<h6 class="text-semibold">Setting Page</h6>
				</div>
			</div>
		</div>
	</div>
</div>