// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-tag{

	padding: 4px 7px;
	margin-bottom: 4px;
	color: #212124;
	font-size: 12px;
	border-radius: 3px;
	background: #f2f2f2;
	line-height: 1em;
	
}
.tasktable{
	margin: 0 auto;
	
}
.case-text{
	font-family: Times New Roman;
	font-size: 15px;
}
.my-heading{
	font-size:18px;
}
.listpic{
	width:54px;
}
.listpic-small{
    width: 100px;
    height: 22px;
}
.logo{
	width: 50px;
    height: 45px;	
}
.my-black{
	color: black;
}
.person-profile-image{
	height: 150px;
	width: 250px;
}